<a href="https://colab.research.google.com/github/sudharshan0023/lab-exam/blob/main/sudharshan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount=('/content/Copy of ODD (1).xlsx')

In [3]:
df=pd.read_excel('/content/Copy of ODD (1).xlsx')

In [4]:
average_cost_per_destination = df.groupby('Destination')['Total_Cost'].mean()
print(average_cost_per_destination)

Destination
ALBANIA           73664.210000
ALEJANDROSHIRE    78168.730000
ARUBA              8573.290000
Adamsbury         22309.600000
Adamsfurt         15705.440000
                      ...
Zacharyberg       41751.850000
Zambia            20658.930000
Zamoramouth       84404.310000
Zimbabwe          31329.406667
Zimmermantown     59139.600000
Name: Total_Cost, Length: 858, dtype: float64

In [5]:
unique_destinations= df["Destination"].nunique()
print("Number of Unique Destinations:", unique_destinations)

Number of Unique Destinations: 858

In [7]:
import pandas as pd

df = pd.read_excel("/content/Copy of ODD (1).xlsx")
df[["Start_Date", "End_Date"]] = df["Travel_Dates"].str.split(" - ", expand=True).apply(pd.to_datetime, errors="coerce")
df = df.dropna(subset=["Start_Date", "End_Date"])
df["Travel_Duration"] = (df["End_Date"] - df["Start_Date"]).dt.days

print("Earliest:", df["Start_Date"].min(), "\nLatest:", df["End_Date"].max(), "\nMost Common Period:", df["Travel_Duration"].mode()[0])

Earliest: 2023-08-20 00:00:00
Latest: 2025-08-19 00:00:00
Most Common Period: 291

In [9]:
import pandas as pd
import re
df = pd.read_excel("/content/Copy of ODD (1).xlsx")
patterns = {
    "YYYY-MM-DD - YYYY-MM-DD": re.compile(r"\d{4}-\d{2}-\d{2} - \d{4}-\d{2}-\d{2}"),
    "YYYY/MM/DD / YYYY/MM/DD": re.compile(r"\d{4}/\d{2}/\d{2} / \d{4}/\d{2}/\d{2}")
}

counts = {k: 0 for k in patterns}
inconsistent = []

for date in df["Travel_Dates"].dropna():
    if any(p.fullmatch(date) for p in patterns.values()):
        for fmt, p in patterns.items():
            if p.fullmatch(date):
                counts[fmt] += 1
    else:
        inconsistent.append(date)
print("Date Formats:", counts)
if inconsistent:
    print("\nInconsistent Dates:", inconsistent[:10])
else:
    print("\nAll dates are consistent.")

Date Formats: {'YYYY-MM-DD - YYYY-MM-DD': 4687, 'YYYY/MM/DD / YYYY/MM/DD': 513}

All dates are consistent.

In [10]:
invalid_travelers = df[(df["Number_of_Travelers"] <= 0) | (df["Number_of_Travelers"] > 100)]

if not invalid_travelers.empty:
    print("Invalid Number_of_Travelers found:")
    print(invalid_travelers)
else:
    print("All traveler numbers are positive and reasonable.")

All traveler numbers are positive and reasonable.